* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


main {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
  }
  
  p,ul,ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
  }
  html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

.topnav{
    text-rendering: optimizeLegibility;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    background-color: #333;
} 

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

h2{
    /* Define a cor do fundo do elemento */
    background-color: #191D88;
    /* Define a cor da fonte */
    color: #FFC436;
}

body{
    overflow: hidden;  
    background-color: #ddd;
}
